@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  font-family: "Lato", sans-serif;
}
nav {
  display: flex;
}
.search {
  display: flex;
  align-items: center;
}
.search input {
  height: 20px;
  width: 449px;
  margin: 0 3px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100px;
  padding: 0 23px;
}
nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 23px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a :hover {
  font-weight: bolder;
}
.container {
  min-height: calc(100vh - 58px - 12vh);
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
}
.sliderbar {
  border: 2px solid aqua;
}
.card {
  background-color: white;
  max-width: 91vw;
  margin: auto;
}
h1 {
  font-family: "Lato", sans-serif;
}
.lines {
  max-width: 91vw;
  margin: auto;
  font-family: "Lato", sans-serif;
}
.carditem {
  display: inline-flex;
  /* justify-content: ;
  align-items: center; */
  flex-direction: column;
  margin: 35px;
}
footer {
  background-color: black;
  color: white;
  height: 12vh;
  font-family: "Lato", sans-serif;
}
